[Unit]
Description=Instance-init target
After=multi-user.target
ConditionKernelCommandLine=!instance-init=disabled
ConditionEnvironment=!KERNEL_CMDLINE=instance-init=disabled
